---
---

//
// IMPORTS
//

@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body,
html {
    color: $darkGray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    line-height: 1.4;
}

h1,
h2,
h3,
p,
ul,
ol {
    display: block;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
dt {
    color: $darkerGray;
    font-weight: 200;
}

h4,
h5,
p,
a,
li,
dl {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
a {
    max-width: 640px;
}

header {
    background: $paleBlue;
    border-bottom: 8px solid $blue;
    padding: 12px 0;
    width: 100%;
}

header .center-content {
    display: flex;
}

header .icon {
    margin-right: 24px;
    width: 100px;
}

header .icon img {
    width: 100%;
}

header a {
    color: $mediumBlue;
}

h1 a {
    color: $darkerGray;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

h1 a + a {
    font-size: 66%;
    font-weight: 200;
}

header a,
header span {
    display: inline-block;
    margin-right: 12px;
}

main {
    margin-top: 48px;
    padding-bottom: 48px;
    position: relative;
}

.latest {
    margin-bottom: 24px;
}

.center-content {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.carousel__list {
    display: grid;
    gap: 36px;
    grid-row-gap: 54px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style-type: none;
    margin-top: 48px;
    width: 100%;
}

.carousel__list a,
.carousel__list img {
    display: block;
    width: 100%;
}

footer {
    padding-bottom: 48px;
}

@media (max-width: 640px) {
    header .icon {
        display: none;
    }

    .carousel__list {
        display: block;
    }

    .carousel__list li {
        margin-bottom: 24px;
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "button";
@import "card";
@import "grid";
@import "highlights";
@import "svg-icons";
