
//
// VARIABLES
//

// Colors
$mediumBlue: #055bca;
$blue: #2c88ff;
$paleBlue: #c4e3ff;

// Grays
$black: #000;
$darkerGray: #121212;
$darkGray: #373737;
$gray: #666;
$mildGray: #999;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}